<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LojaVirtuall - @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("styles", required: false)
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("LojaVirtuall", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="show-no-auth">@Html.ActionLink("Cadastro", "Register", "Clientes")</li>
                        <li class="show-no-auth">@Html.ActionLink("Login", "Login", "Home")</li>

                        <li class="show-client">@Html.ActionLink("Conta", "ManageAccount", "Clientes")</li>
                        
                        <li class="show-admin">@Html.ActionLink("Produtos", "Index", "Produtos")</li>
                        <li class="show-admin">@Html.ActionLink("Fornecedores", "Index", "Fornecedores")</li>
                        <li class="show-admin">@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                        <li class="show-admin">@Html.ActionLink("Administradores", "Index", "Administradores")</li>
                        <li class="show-admin">@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                        
                        <li id="logout" class="show-auth"><a>Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p class="text-center">&copy; @DateTime.Now.Year - LojaVirtuall</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/Autenticacao.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>