@model LojaVirtuall.Models.Cliente

@{
    ViewBag.Title = "Detalhes do Cliente";
}

<h2 class="center-block text-center">Detalhes do Cliente</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificadoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificadoEm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UsuarioID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</p>
