@model IEnumerable<LojaVirtuall.Models.Pedido>

@{
    ViewBag.Title = "Pedidos";
}

<h2 class="center-block text-center">Pedidos</h2>
<hr />

<table id="tbPedidos" class="table table-striped">
    <thead>
        <tr>
            <th>
                Nº do Pedido
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DataPedido)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>

            <th>
                Qtde. de Itens
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DataPedido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>

                @{
                    int quantidade = 0;

                    foreach (var it in item.Itens)
                    {
                        quantidade += it.Quantidade;
                    }
                }

                <td>
                    @quantidade
                </td>

                <td>
                    @if (item.Ativo)
                    {
                        <span class="label label-success">OK</span>
                    }
                    else
                    {
                        <span class="label label-danger">Cancelado</span>
                    }
                </td>

                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.PedidoID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Cancelar Pedido", "CancelOrder", new { id = item.PedidoID }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section styles {
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbPedidos").DataTable({
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                },
                responsive: true,
                columns: [
                    { responsivePriority: 0 },
                    { responsivePriority: 2 },
                    { responsivePriority: 3 },
                    { responsivePriority: 5 },
                    { responsivePriority: 4 },
                    { responsivePriority: 1 }
                ],
                columnDefs: [
                    { orderable: false, targets: [5] }
                ],
            });
        });
    </script>
}