@model LojaVirtuall.Models.Fornecedor

@{
    ViewBag.Title = "Excluir Fornecedor";
}

<h2 class="center-block text-center">Excluir Fornecedor</h2>
<hr />

<h3 class="pergunta-exclusao">Você tem certeza que deseja excluir este fornecedor?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificadoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificadoEm)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" />
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
