@model LojaVirtuall.Models.Fornecedor

@{
    ViewBag.Title = "Detalhes do Fornecedor";
}

<h2 class="center-block text-center">Detalhes do Fornecedor</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificadoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificadoEm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.FornecedorID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</p>
