@model IEnumerable<LojaVirtuall.Models.Fornecedor>

@{
    ViewBag.Title = "Fornecedores";
}

<h2 class="center-block text-center">Fornecedores</h2>
<hr />

<div class="btnCadastro-wrapper">
    <a href="/Fornecedores/Create/" class="btn btn-default">Cadastrar Fornecedores</a>
</div>

<table id="tbFornecedores" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificadoEm)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriadoEm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModificadoEm)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.FornecedorID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Detalhes", "Details", new { id = item.FornecedorID }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section styles {
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbFornecedores").DataTable({
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                },
                responsive: true,
                columns: [
                    { responsivePriority: 1 },
                    { responsivePriority: 3 },
                    { responsivePriority: 4 },
                    { responsivePriority: 2 }
                ],
                columnDefs: [
                    { orderable: false, targets: [3] }
                ],
            });
        });
    </script>
}